pyyaml>=6.0
psutil>=5.9
pandas>=2.1
numpy>=1.26
matplotlib>=3.8
seaborn>=0.13
zstandard>=0.23
nvidia-ml-py>=13.580.65
botocore==1.43.62
jmespath==1.1.0
urllib3==2.8.0
python-dateutil==2.9.0.post0
six==1.17.0
