schema_version=2
policy=ql_heft_frozen
seed=14700
cpu_queue_weight=1.322315
gpu_queue_weight=0.677685
heavy_object_threshold=32
heavy_gpu_bonus=1.968103
weight_lower_bound=0.500000
weight_upper_bound=1.500000
projection_rule=euclidean_box_mean_one_v1
feedback_lag_limit=8
feedback_cooldown_events=2
variation_budget=0.250000
feedback_update_rule=simplified_gpu_queue_terminal_signal_v1
feedback_penalty_step=0.002000
feedback_reward_step=0.000200
